<div class="container">
        <div class="row">
          <div class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body" >
                  <h5 class="card-title">Reptile Plan A</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plan Subtitle</h6>
                  <p class="card-text">Reptile Plan A description</p>
                  <a href="#" class="card-link">Plan link</a>
                </div>
              </div></div>
          <div class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Reptile Plan B</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plan Subtitle</h6>
                  <p class="card-text">Reptile Plan B description</p>
                  <a href="#" class="card-link">Plan link</a>
                </div>
              </div></div>
          <div class="col-md-4"><div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">Reptile Plan C</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plan Subtitle</h6>
                  <p class="card-text">Reptile Plan C description</p>
                  <a href="#" class="card-link">Plan link</a>
                </div>
              </div></div>
        </div>
      </div> 
